/* google fonts 
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap"); --font-name: "Questrial", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
:root {
  --primary-color: #6f55f2;
  --heading-color: #132742;
  --bg-color:#ffffff;
  --bg-gradient: linear-gradient(
    90deg,
    rgba(103, 101, 240, 1) 27%,
    rgba(141, 141, 235, 1) 85%
  );
  --bg-default-btn:#d3cef2;
  --font-name:'Poppins', sans-serif;

  /* 
        #9785f2
        #b5a9f3
        #d3cef2
        #d7337a
    */
}

/* ======== Reset Default Browser Styles ======== */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-name);
}

body {
  font-size: 13px;
  scroll-behavior: smooth;
}

section {
  padding: 50px 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

/* ======== Reusable class ======== */

.container {
  width: 1040px;
  padding: 0 15px;
  margin: auto;
}

.section__title {
  color: var(--head-color);
  font-weight: 500;
}